{% extends 'core/base.html' %}
{% load static %}

<!-- add block title -->
{% block title %}Μεταφραστής - Tsakonian Digital{% endblock %}

{% block content %}

<!-- header to the chat -->
<div class="container bootstrap snippets bootdey">
  <div class="row">
      <!--=========================================================-->
      <!-- selected chat -->
    <div class="col-md-12 bg-white "><h3>Τσακώνικος μεταφραστής</h3></div>
    <div class="col-md-12 bg-white ">
          <div class="chat-message">
              <ul class="chat messages-list">
                  <li class="message received left clearfix">
                    <span class="chat-img pull-left">
                      <img src= {% static "base/imgs/TD_logo_small_no_bg.png" %} alt="Leonida">
                    </span>
                    <div class="message-text chat-body clearfix">
                      <div class="header message-sender">
                        <strong class="primary-font">Λεώνιδα</strong>
                        <!-- <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small> -->
                      </div>
                      <div class="message-content">
                        <p>Γεια! Ένι ο Λεώνιδα. 'Αλε μι κάτσι να νι μεταφράσου τ̇α τσακώνικα.</p>
                        <p>Γεια! Είμαι ο Λεώνιδας. Πες μου κάτι να το μεταφράσω στα τσακώνικα.</p>
                      </div>
                    </div>
                  </li>          
              </ul>
          </div>
          <form class="message-form">
            {% csrf_token %}
            <div class="chat-box bg-white">
              <div class="input-group">
                <input type="text" class="form-control message-input border no-shadow no-rounded" placeholder="Γράψτε κάτι να μεταφραστεί...">
                <span class="input-group-btn">
                  <button class="btn btn-primary btn-send" type="submit">Αποστολή</button>
                </span>
              </div><!-- /input-group -->	
            </div>
          </form>       
  </div>        
</div>
</div>

{% endblock %}

{% block scripts %}
<script>
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');
  const messagesList = document.querySelector('.messages-list');


  messageForm.addEventListener('submit', async event => {
    event.preventDefault();
    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }
    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent', 'right', 'clearfix');
    messageItem.innerHTML = `
      <span class="chat-img pull-right">
        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="User Avatar">
      </span>
      <div class="message-text chat-body clearfix">
        <div class="header message-sender">
          <strong class="primary-font">Εσείς</strong>
        </div>
        <div class="message-content">
          <p>${message}</p>
        </div>
      </div>
    `;
    messagesList.appendChild(messageItem);

    messageInput.value = ''; // Clear input

    messagesList.lastElementChild.scrollIntoView(); // Scroll to the bottom

    const to_translate = "Translate the following sentence from Greek to Tsakonian: " + message;
    console.log(to_translate);

    try {
      const response = await fetch('https://e10xa42ufttxnpto.us-east-1.aws.endpoints.huggingface.cloud/v1/chat/completions', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer Málaga'
        },
        body: JSON.stringify({
          model: "tgi",
          messages: [
            {
              role: "user",
              content: to_translate
            }
          ],
          temperature: 0  
        })
      });

        const data = await response.json();
        const translatedMessage = data.choices[0].message.content.replace('Translation to Tsakonian: ', '');
    
        // Send message to server
        const receivedMessageItem = document.createElement('li');
        receivedMessageItem.classList.add('message', 'received', 'left', 'clearfix');
        receivedMessageItem.innerHTML = `
          <span class="chat-img pull-left">
            <img src= {% static "base/imgs/TD_logo_small_no_bg.png" %} alt="Leonida">
          </span>
          <div class="message-text chat-body clearfix">
            <div class="header message-sender">
              <strong class="primary-font">Λεώνιδα</strong>
              <!-- <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small> -->
            </div>
            <div class="message-content">
              <p>${translatedMessage}</p>
            </div>
          </div>
        `;
        messagesList.appendChild(receivedMessageItem);
        messagesList.lastElementChild.scrollIntoView(); // Scroll to the bottom
      } catch (error) {
        console.error('Error:', error);
      }
    });

</script>
{% endblock %}
