{% load static %}

<nav class="navbar navbar-default" style="vertical-align: middle; padding: 0px; height: 50px;">
  <div class="container">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="font-family: Calibri; color: #7B7B7B; padding: 5px; vertical-align: middle; margin-top: 10px">
Εργαλεία</button>
      <a class="navbar-brand" href="{% url 'dictionary:dictionary_index'%}" style="padding-top: 0px;">
        <img src="{% static 'base/imgs/TD_logo_small_no_bg.png' %}" alt="Tsakonian Digital logo" style="height: 50px; display: inline-block;">
        <span style="display: inline-block; vertical-align: middle;">Tsakonian Digital</span>
      </a>
  </div>
  <div class="collapse navbar-collapse" id="myNavbar" style="font-size: 15px;">
      <ul class="nav navbar-nav navbar-right">
       {% comment %} <li><a href="{% url 'home'%}">Home</a></li> {% endcomment %}
      <li><a href="{% url 'dictionary:dictionary_index'%}" style="display: inline-block; vertical-align: middle;">Λεξικό</a></li>
      <li><a href="{% url "translator_index" %}">Μεταφραστής</a></li>
      </ul>
  </div>
  </div>
</nav>