{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Τσακώνικο λεξικό{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'dictionary/main.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="{% static 'dictionary/js/main.js' %}" defer></script>
  </head>

  <body>
    {% include "../base/components/navbar.html" %}
    <p><h1>Σχέδιο συντήρησης Τσακώνικης διαλέκτου με τεχνητή νοημοσύνη</h1></p>
    
    <div name="map-widget" class = "map-widget">
        <iframe src="https://xmind.ai/embed/GKccxh2M?sheet-id=e772e6cd-023f-4ba8-be7f-ec8fb80c2735" width="80%" height="800px" frameborder="0" scrolling="no" allow="fullscreen"></iframe>
    </div>    
</body>
</html>